.App {
  background-image: url("bg2.png") ;
  background-color: #ff8902;
  background-size: cover;

  /* background-color: #282c34; */
  min-height: 100vh;
  text-align: center;
}
a {
  text-decoration: none ;
  color:white;
}
a:hover
{

 text-decoration:none;
 cursor:pointer;
}

.htext {
  font-size: 1.4em;
  color: white;
  padding-top: 30vh;
  padding-bottom: 1em;
}

.not-found {
  color: white;
  font-size: 3em;
  padding-bottom: 1em;
  text-align: center;

}
.ext {
  margin-top: 20px;
  color: white;
}

